.header-nav {
    box-shadow: 2px black;
    width: 100%;
    display: flex;
    padding: 1.5%;
    background-color: #2D0406;
}

.navtab {
    margin-left: 5%;
    color: white;
    align-self: center;
    font-family: 'Lusitana', serif;
    font-size: 1.3em;
    letter-spacing: 0.1em;
}

.navtab:hover {
    text-decoration: none;
    color: white;
}

.header-main {
    align-self: center;
    color: white;
}

.header-button {
    font-family: 'Lusitana', serif;
    letter-spacing: 0.0625em;
    background-color: transparent;
    color: white;
    border: transparent;
    padding: 5px;
    font-size: 2.1em;
}

.image-holder {
    color: transparent;
    font-size: 1em;
    height: 350px;
    padding: 5%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    transition: all 0.5s ease;
    margin: 10px 0px;
}

.image-holder:hover {
    /* text-shadow: -1px 0 black, 0 1px black, 1px 0 black, 0 -1px black; */
}

.client {
    font-size: 1.8em;
    font-weight: 600;
    margin: 1%;
    font-family: 'Libre Baskerville', serif;
    letter-spacing: 0.05em;
}

.title {
    font-size: 1.2em;
    margin: 2%;
    font-weight: 500;
    font-family: 'Lusitana', serif;
}

.img1 {
    background: url("../images/mskcc.png") center;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}

.img1:hover {
    background: #57bcff;
    color: white;
}

.img2 {
    background: url("../images/judes.png") center;
}

.img2:hover {
    background: rgb(36, 36, 36);
    color: white;
}

.img3 {
    background: url("../images/hacktest.png");
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    border: 5px solid lightskyblue;
}

.img3:hover {
    background: rgb(10, 10, 131);
    color: white;
}

.img4 {
    background: url("../images/mssociety.png") center;
    border: 5px solid rgb(255, 136, 0);
}

.img4:hover {
    background: rgb(255, 136, 0);
    color: white;
}

.img5 {
    background: url("../images/viver.png") center;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}

.img5:hover {
    background: rgb(65, 196, 65);
    color: white;
}

.img6 {
    background: url("../images/aps.png") center;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}

.img6:hover {
    background: rgb(255, 0, 128);
    color: white;
}

.img7 {
    background: url("../images/cornell.png") center;
    border: 5px solid rgb(172, 0, 0);
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}

.img7:hover {
    background: rgb(172, 0, 0);
    color: white;
}

.img8 {
    background: url("../images/northwell.png") center;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    border: 5px solid rgb(161, 104, 161);
}

.img8:hover {
    border: none;
    background: rgb(161, 104, 161);
    color: white;
}

.img9 {
    background: url("../images/dallasnews.png") center;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    border: 5px solid rgb(36, 36, 36);
}

.img9:hover {
    background: ghostwhite;
    color: rgb(36, 36, 36);
}

.img10 {
    background: url("../images/hhmi.png") center no-repeat;
    border: 5px solid rgb(27, 145, 16);
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}

.img10:hover {
    background: rgb(27, 145, 16);
    color: white;
}

.img11 {
    background: url("../images/amta.png");
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    border: 5px solid rgb(206, 36, 13);
}

.img11:hover {
    border: none;
    background: rgb(206, 36, 13);
    color: white;
}

.img12 {
    background: url("../images/inova.png") center;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}

.img12:hover {
    background: rgb(35, 48, 124);
    color: white
}

@media screen and (max-width: 520px) {
    .header-nav {
        justify-content: center;
        flex-direction: column;
        padding-right: 10%;
    }

    .header-button {
        font-size: 1.5em;
    }

    .navtab {
        margin-left: 0%;
        font-size: 1em;
        letter-spacing: 0.05em;
    }
}

@media screen and (max-width: 757px) {
    .header-button {
        border: transparent;
    }
}
