.header-nav {
    background-color: white;
    color: black;
    border-bottom: 3px solid black;
    box-shadow: 2px black;
    width: 100%;
    display: flex;
    padding: 1%;
}

.navtab {
    margin-left: 3%;
    color: black;
    align-self: center;
}

.header-main {
    font-family: 'Montserrat', sans-serif;
    align-self: center;
    color: black;
    font-size: 2em;
    letter-spacing: 0.01em;
    text-shadow: -1px 0 silver, 0 1px silver, 1px 0 silver, 0 -1px silver;
}

.header-main:hover {
    color: black;
}

.main-body {
    height: 881px;
}

.text-area {
    height: 100%;
    width: 65%;
    float: left;
    padding: 10%;
    padding-top: 7%;
}

.intro-text {
    height: 20%;
    font-size: 1.75rem;
}

.description-text {
    height: 80%;
    font-size: 1rem;
}

.image-holder {
    width: 35%;
    height: 100%;
    float: left;
}

.image-slot {
    position: relative;
    top: 13%;
    margin: auto;
}

.headshot {
    border-radius: 25px;
}
