body {
    background: linear-gradient(
        rgba(0, 0, 0, 0.55),
        rgba(0, 0, 0, 0.55)
      ), url("../images/wideprof.png") no-repeat center center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}

.background {
    width: 100%;
}

.header-nav {
    box-shadow: 2px black;
    width: 100%;
    display: flex;
    padding: 1.5%;
    background-color: rgb(36, 31, 31);
}

.navtab {
    margin-left: 5%;
    color: white;
    align-self: center;
    font-family: 'Lusitana', serif;
    font-size: 1.3em;
    letter-spacing: 0.05em;
}

.navtab:hover {
    text-decoration: none;
    color: white;
}

.header-main {
    align-self: center;
    color: white;
}

.header-button {
    font-family: 'Lusitana', serif;
    letter-spacing: 0.0625em;
    background-color: transparent;
    color: white;
    border: transparent;
    padding: 5px;
    font-size: 2.1em;
}

.header-main:hover {
    color: white;
}

.text-area {
    width: 55%;
    padding: 1%;
    margin: 6%;
    align-self: center;
    justify-content: center;
    color: white;
    border-radius: 10px;
}

.intro-text {
    height: 20%;
    font-size: 1.75rem;
    margin-bottom: 5%;
}

.intro-title {
    font-family: 'Playfair Display', serif;
    font-size: 2.3em;
    letter-spacing: 0.025em;
}

.intro-description {
    font-family: 'Merienda', cursive;
    font-size: 0.7em;
    border-bottom: 2px solid white;
}

.description-text {
    height: 80%;
    font-size: 1.3em;
    font-family: 'Lato', sans-serif;
}

.pop-out {
    font-family: 'Lusitana', serif;
    font-size: 1.5em;
    font-weight: bold;
    letter-spacing: 0.05em;
}

.pop-out:hover {
    text-shadow: -1px 0 black, 0 1px black, 1px 0 black, 0 -1px black;
}

.image-holder {
    display: flex;
    width: 500px;
    justify-content: center;
    align-items: center;
    padding: 4%;
}

.headshot {
    border-radius: 25px;
    width: 100%;
    height: auto;
}


@media screen and (max-width: 520px) {
    .header-nav {
        justify-content: center;
        flex-direction: column;
        padding-right: 10%;
      }

      .header-button {
        font-size: 1.5em;
    }

    .navtab {
        margin-left: 0%;
        font-size: 1em;
        letter-spacing: 0.05em;
    }

    .text-area {
        border: 5px solid white;
        padding: 5%;
    }

    .intro-description {
        font-size: 0.6em;
    }

    .description-text {
        font-size: 1.3em;
     }

     .pop-out {
        border-bottom: 2px solid white;
    }
}

@media screen and (max-width: 757px) {
    .header-button {
        border: transparent;
    }
}

@media screen and (max-width: 1023px) {
    .intro-text {
        text-align: center;
    }

    .text-area {
        width: 80%;
        margin-left: 10%;
    }

    .background {
        display: flex;
        justify-content: center;
    }

    .description-text {
       text-align: center;
       margin-top: 40px;
    }
}

