.header-nav {
    border-bottom: 1px solid silver;
    box-shadow: 2px black;
    width: 100%;
    display: flex;
    padding: 1.5%;
    background-color: rgb(49, 49, 49);
}

.navtab {
    margin-left: 5%;
    color: white;
    align-self: center;
    font-family: 'Montserrat', sans-serif;
    font-size: 1.2em;
}

.header-main {
    font-family: 'Cinzel', serif;
    align-self: center;
    color: white;
    font-size: 2em;
    letter-spacing: 0.01em;
}

.header-button {
    background-color: transparent;
    color: white;
    border-radius: 3px;
    padding: 5px;
}

.header-main:hover {
    color: white;
}

.main-body {
    display: flex;
    justify-content: center;
    height: 100%;
    padding: 1.5%;
    color: white;
    background-image: url("../images/wideprof.jpg");
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}

.text-area {
    display: flex;
    width: 1100px;
    padding: 5%;
    border: 1px solid black;
    align-self: center;
    justify-content: center;
    flex-direction: column;
}

.intro-text {
    height: 20%;
    font-size: 1.75rem;
    margin-bottom: 5%;
}

.intro-title {

}

.intro-description {

}

.description-text {
    height: 80%;
    font-size: 1.5rem;
}

.image-holder {
    display: flex;
    width: 500px;
    justify-content: center;
    align-items: center;
    padding: 4%;
}

.headshot {
    border-radius: 25px;
    width: 100%;
    height: auto;
}


@media screen and (max-width: 520px) {
    .header-nav {
        justify-content: center;
        flex-direction: column;
        padding-right: 10%;
      }

    .header-main {
        font-size: 1.5em;
    }

    .navtab {
        margin-left: 0%;
        font-size: 1em;
        letter-spacing: 0.05em;
    }
}

@media screen and (max-width: 757px) {
    .header-button {
        border: transparent;
    }
}

@media screen and (max-width: 1023px) {
    .main-body {
        flex-wrap: wrap-reverse;
    }

    .intro-text {
        text-align: center;
    }
}

