.wrapper {
    background: white;
    background-size: 100% 100%;
}

.header-nav {
    box-shadow: 2px black;
    width: 100%;
    display: flex;
    padding: 1.5%;
    background-color: #2D0406;
}

.navtab {
    margin-left: 5%;
    color: white;
    align-self: center;
    font-family: 'Lusitana', serif;
    font-size: 1.3em;
    letter-spacing: 0.1em;
}

.navtab:hover {
    text-decoration: none;
    color: white;
}

.header-main {
    align-self: center;
    color: white;
}

.header-button {
    font-family: 'Lusitana', serif;
    letter-spacing: 0.0625em;
    background-color: transparent;
    color: white;
    border: transparent;
    padding: 5px;
    font-size: 2.1em;
}

.bottom-container {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    background-color: white;
    padding: 1%;
    border-bottom: 2px solid #32213A;
}

.whole-card {
    display: flex;
    border-radius: 0px;
    margin: 2px;
}

.whole-card:hover {
    text-decoration: none;
}

.card-image-set {
    padding: 10% 5%;
    width: 275px;
    height: 175px;
}

.card-body-section {
    border-top: 1px solid lavender;
    background-color: rgb(202, 208, 228);
    display: flex;
    align-items: center;
    justify-content: center;
    color: white;
}

.card-headline {
    font-family: 'PT Sans', sans-serif;
    color: black; 
    font-weight: 600; 
    font-size: 1.3em;
    letter-spacing: 0.05em;
}

@media screen and (max-width: 520px) {
    .header-nav {
        justify-content: center;
        flex-direction: column;
        padding-right: 10%;
    }

    .header-button {
        font-size: 1.5em;
    }

    .navtab {
        margin-left: 0%;
        font-size: 1em;
        letter-spacing: 0.05em;
    }
}

@media screen and (max-width: 757px) {
    .header-button {
        border: transparent;
    }
}
