.wrapper {
    background: linear-gradient(
        rgba(0, 0, 0, 0.40),
        rgba(0, 0, 0, 0.40)
      ), url("../images/textwall.jpg");
    background-size: 100% 100%;
}

.header-nav {
    box-shadow: 2px black;
    width: 100%;
    display: flex;
    padding: 1.5%;
    background-color: rgb(49, 49, 49);
}

.navtab {
    margin-left: 5%;
    color: white;
    align-self: center;
    font-family: 'Montserrat', sans-serif;
    font-size: 1.2em;
}

.header-main {
    font-family: 'Cinzel', serif;
    align-self: center;
    color: white;
    font-size: 2em;
    letter-spacing: 0.01em;
}

.header-main:hover {
    color: white;
}

.image-holder {
    z-index: 1;
}

#journal-jumbo {
    width: 100%;
}

.intro-area {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: transparent;
    padding: 2%;
}

.intro-area-text {
    padding: 1%;
    font-size: 1.5em;
    text-align: center;
    font-family: 'Bad Script', cursive;
    font-family: 'Lusitana', serif;
    color: black;
    font-weight: bold;
    border: 2px solid rgb(49, 49, 49);
    border-radius: 10px;
    background-color: white;
}

.flex-container {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    background-color: transparent;
}

.sidebar-left {
    position: fixed;
    top: 0;
    left: 0;
    height: 100%;
    background-color: white;
    z-index: 0;
    width: 5%;
    height: 100%;

}

.article-box {
    height: 150px;
    border: 3px solid black;
    width: 500px;
    border-radius: 5px;
    margin: 1%;
    display: flex;
    padding-left: 2%;
    box-shadow: 4px 3px 4px black;
    background-color: white
}

.logo {
    align-self: center;
    width: 25%;
    height: 65%;
    margin-right: 3%;
    border: 2px solid black;
    border-radius: 10px;
    padding: 2%;
}

.article-headline {
    width: 60%;
    display: flex;
    align-self: center;
    justify-content: center;
}

.headline {
    font-size: 1.4em;
    font-family: 'Open Sans Condensed', sans-serif;
    color: black;
    text-align: center;
    font-weight: bolder;
    padding: 2%;
    align-self: center;
}

.headline:hover {
    text-decoration: none;
    color: black;
}

@media screen and (max-width: 520px) {
    .header-nav {
        justify-content: center;
        flex-direction: column;
        padding-right: 10%;
      }

    .header-main {
        font-size: 1.5em;
    }

    .navtab {
        margin-left: 0%;
        font-size: 1em;
        letter-spacing: 0.05em;
    }
}