.header-nav {
    background-color: white;
    color: black;
    border-bottom: 1px solid silver;
    box-shadow: 2px black;
    width: 100%;
    display: flex;
    padding: 1%;
}

.navtab {
    margin-left: 3%;
    color: black;
    align-self: center;
}

.header-main {
    font-family: 'Montserrat', sans-serif;
    align-self: center;
    color: black;
    font-size: 2em;
    letter-spacing: 0.01em;
    text-shadow: -1px 0 silver, 0 1px silver, 1px 0 silver, 0 -1px silver;
}

.header-main:hover {
    color: black;
}

.image-holder {
    z-index: 1;
}

#journal-jumbo {
    width: 100%;
}

.flex-container {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    background-color: navy;
}

.sidebar-left {
    position: fixed;
    top: 0;
    left: 0;
    height: 100%;
    background-color: white;
    z-index: 0;
    width: 5%;
    height: 100%;

}

.article-box {
    height: 150px;
    border: 3px solid black;
    width: 620px;
    margin: 1%;
    display: flex;
    padding-left: 2%;
    box-shadow: 4px 3px 4px black;
    background-color: white
}

.logo {
    align-self: center;
    width: 25%;
    height: 65%;
    margin-right: 3%;
    border: 2px solid black;
    border-radius: 10px;
    padding: 2%;
}

.article-headline {
    width: 60%;
    display: flex;
    align-self: center;
    justify-content: center;
}

.headline {
    font-size: 1.4em;
    font-family: 'Open Sans Condensed', sans-serif;
    color: black;
    text-align: center;
    font-weight: bolder;
    padding: 2%;
    align-self: center;
}

.headline:hover {
    text-decoration: none;
    color: black;
}