.wrapper {
    background: white;
    background-size: 100% 100%;
}

.header-nav {
    box-shadow: 2px black;
    width: 100%;
    display: flex;
    padding: 1.5%;
    background-color: #3A66A7;
}

.navtab {
    margin-left: 5%;
    color: white;
    align-self: center;
    font-family: 'Lusitana', serif;
    font-size: 1.3em;
    letter-spacing: 0.05em;
}

.navtab:hover {
    text-decoration: none;
    color: white;
}

.header-main {
    align-self: center;
    color: white;
}

.header-button {
    font-family: 'Lusitana', serif;
    letter-spacing: 0.0625em;
    background-color: transparent;
    color: white;
    border: transparent;
    padding: 5px;
    font-size: 2.1em;
}

.top-container {
    width: 100%;
    display: flex;
    flex-direction: row;
}

.left-slot, .right-slot {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 50%;
    height: 100%;
    border: 2px solid lavender;
    height: 500px;
    margin: 1%;
}

.left-slot p {
    font-size: 3em;
    font-family: 'Lusitana', serif;
    padding: 10%;
}

.right-slot p {
    font-size: 1.5em;
    font-family: 'Lusitana', serif;
    padding: 10%;
}

.bottom-container {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    background-color: transparent;
    border: 1px solid silver;
    background-color: lavender;
}

.whole-card {
    margin: 10px;
    display: flex;
    border: 1px solid black;
}

.whole-card:hover {
    text-decoration: none;
}

.card-image-set {
    padding: 10% 5%;
    width: 275px;
    height: 175px;
}

.card-body-section {
    border-top: 1px solid lavender;
    background-color: #3A66A7;
    display: flex;
    align-items: center;
}

.card-headline {
    font-family: 'Lusitana', serif; 
    /* text-shadow: -1px 0 black, 0 1px black, 1px 0 black, 0 -1px black; */
    color: white; 
    font-weight: 600; 
    font-size: 1.4em;
}

@media screen and (max-width: 520px) {
    .header-nav {
        justify-content: center;
        flex-direction: column;
        padding-right: 10%;
    }

    .header-button {
        font-size: 1.5em;
    }

    .navtab {
        margin-left: 0%;
        font-size: 1em;
        letter-spacing: 0.05em;
    }
}

@media screen and (max-width: 757px) {
    .header-button {
        border: transparent;
    }
}
